.block{
    width: 70%;
	margin:auto;	
	border: 1px solid #203659;
	font-family: Arial;
}
.header{
	padding:10px;
	background-color:#203659;
	color:white;
	height:100px;
}
.cat{
	width:100px;
	border-radius:50%;
	float:left;
}
.cat1{
	border-radius:50px;	
margin: 25px;
width:25%;
}
.cat2{
	border-radius:50px;	
margin: 25px;
width:25%;
}
.cat3{
	border-radius:50px;	
margin: 25px;
width:25%;
}
.cat4{
	height:200px;
	width:90%;
	background-color:#e4ed9c;
	padding:10px;
	margin:auto;
	font-size: 20px;
	text-align:center;
	font-family: Arial;
}
.footer{
	padding:10px;
	background-color:#203659;
	color:white;
	height:100px;
}
